---
layout: post
---
<div class="content-padded">
  <div class="ingredients">
    <h4>Ingredienser</h4>
    <ul>
    {% for item in page.ingredients %}
      <li>{{item.amount}} <b>{{item.name}}</b></li>
    {% endfor %}
    </ul>

    {% if page.extra_ingredients %}
    <h3>Extra</h3>
    <ul>
    {% for item in page.extra_ingredients %}
      <li>{{item.amount}} <b>{{item.name}}</b></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="preparation">
    <h4>Tillagning</h4>
    {{ content }}
  </div>
</div>
